#fileManagement{
  color:#4e4563;
  .el-collapse{
    border: none;
  }
  .el-collapse-item{
    //background:#f9fafc;
    border-radius:2px;
    margin-bottom: 16px;
  }
  .el-collapse-item__header{
    background: deepskyblue;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 27px;
    height: 66px;
  }
  .el-collapse-item__wrap{
    background: deepskyblue;
  }

  .el-collapse-item__header{
    border: none;
  }

  .contain-center1 .item-lists .ul-lists{
    padding: 0;
    background: red !important;
  }
  .createNewGroup{
    position: absolute;
    top:8px;
    right: 0;
    font-size:14px;
    color:#40587a;
    border:1px solid #40587a;
  }
  .collapseHead{
    font-size:18px;
    color:#4e4563;
    .upload{
      font-size: 12px;
      color:#5e6d82;
      padding-right: 16px;
      img{
        width: 12px;
        height: 12px;
        margin-right: 8px;
      }
    }
  }
}
