@charset "utf-8";
#index {
  width: 100%;
  .banner {
    background: grey;
    width: 100%;
    height: 691px;
    position: relative;
    button {
      position: absolute;
      z-index: 999;
      top: 458px;
      width: 133px;
      height: 56px;
    }
    button:first-child {
      left: 18.75%;
    }
    button:last-child {
      left: 27.6%;
    }
  }
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 77px;
    font-weight: normal;
  }
  .content {
    width: 100%;
    margin: 0 auto;
    height: 691px;
    position: relative;
    .indentityPic{
      width: 25%;
      img{
        width: 65px;
        height: 104px;
        background: black;
        margin-bottom: 15px;
        margin-top: 155px;
      }
      div:last-child{
        margin-top: 14px;
        margin-bottom: 236px;
      }
    }
    .fullPageText{
      font-size: 24px;
      position: absolute;
    }
    .fullPageText div:last-child{
      margin-top: 16px;
      font-size: 16px;
      color: #8492a6;
    }
    .fullPagePic{
      position: absolute;
      background: red;
    }
  }
  .content1{
    margin-top: 104px;
    .fullPageText1{
      width: 424px;
      left: 21.5%;
      text-align: right;
    }
    .fullPagePic1{
      right: 18.75%;
      width: 600px;
      height: 315px;
    }
  }
  .content2{
    .fullPageText2{
      width: 401px;
      right: 24%;
      top: 136px;
    }
    .fullPagePic2{
      width: 600px;
      height: 400px;
      left: 20%;
      top: 95px;
    }
  }
  .content3{
    .fullPagePic3{
      width: 600px;
      height: 400px;
      right: 18.75%;
      top:145px;
    }
    .fullPageText3{
      width: 411px;
      left: 21.5%;
      top:145px;
      text-align: right;
    }
  }
  .content4{
    .fullPageText4{
      width: 401px;
      right: 24%;
      top: 180px;
    }
    .fullPagePic4{
      width: 600px;
      height: 400px;
      left: 20%;
      top: 180px;
    }
  }
}
